page-main {
  .scroll {
    height: 100%;
  }
  #map {
    height: 100%;
    width: 100%;
  }
  #mySidenav {
    font-family: "Lato", sans-serif;
  }
  // .pic{
  // border-radius: 50%;
  // opacity: 1;
  // right: 0;

  // }
  // .pic {
  //     display: inline-block;
  //     border-radius: 50%;
  //     background-color: #f4511e;
  //     border: none;
  //     color: #FFFFFF;
  //     text-align: center;
  //     font-size: 28px;
  //     padding: 20px;
  //     width: 200px;
  //     transition: all 0.5s;
  //     cursor: pointer;
  //     margin: 5px;
  // }

  // .pic span {
  //     cursor: pointer;
  //     display: inline-block;
  //     position: relative;
  //     transition: 0.5s;
  // }

  // .pic span:after {
  //     content: '\00bb';
  //     position: absolute;
  //     opacity: 0;
  //     top: 0;
  //     right: -20px;
  //     transition: 0.5s;
  // }

  // .pic:hover span {
  //     padding-right: 25px;
  // }

  // .pic:hover span:after {
  //     opacity: 1;
  //     right: 0;
  // }

  .butt {
    background-color: #3ebffb;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #e7e7e7;
    font-weight: bold;
    position: absolute;
    position: fixed;
    top: 125px;
    left: 45%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3ebffb;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    background-color: #002a3e;
  }

  .flb {
    background-color: #3ebffb;
    height: 100%;
    width: 100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}
